doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UrTTS
        link(rel="stylesheet", href="/css/style.css")
    body 
        header 
            h1 UrTTS
        .container
            textarea#text(name="text", placeholder="Enter text to be spoken")
            button#speak Speak

        script(src="/js/script.js") 